///////////////
// Variables //
///////////////

// Themes
$light: 'light';
$dark: 'dark';

// Color names
$color-background: 'colorBackground';
$color-text: 'colorText';
$color-primary: 'colorPrimary';
$color-primary-dark: 'colorPrimaryDark';
$color-primary-deep-dark: 'colorPrimaryDeepDark';
$color-primary-text: 'colorPrimaryText';
$color-info: 'colorInfo';
$color-warning: 'colorWarning';
$color-error: 'colorError';
$color-success: 'colorSuccess';
$color-notification-text: 'colorNotificationText';
$color-notification-text-dark: 'colorNotificationTextDark';
$color-input-background: 'colorInputBackground';
$color-input-border: 'colorInputBorder';
$color-login-switch-panel: 'colorLoginSidePanel';
$color-login-switch-panel-text: 'colorLoginSidePanelText';
$color-login-switch-panel-button: 'colorLoginSidePanelButton';
$color-login-switch-panel-button-text: 'colorLoginSidePanelButtonText';

// Colorable properties
$prop-background-color: 'background-color';
$prop-color: 'color';
$prop-border-color: 'border-color';

// Colors per theme
$theme-colors: (
    $light: (
        $color-background: #F1F5F9,
        $color-text: #27303F,
        $color-primary: #4285F4,
        $color-primary-dark: #3A76F8,
        $color-primary-deep-dark: #3367BD,
        $color-primary-text: #F0F5FF,
        $color-info: #0099CC,
        $color-warning: #FF8800,
        $color-error: #CC0000,
        $color-success: #007E33,
        $color-notification-text: #FFFFFF,
        $color-notification-text-dark: #EEEEEE,
        $color-input-background: #FFFFFF,
        $color-input-border: #CFD8E3,
        $color-login-switch-panel: #4285F4,
        $color-login-switch-panel-text: #F0F5FF,
        $color-login-switch-panel-button: #F1F5F9,
        $color-login-switch-panel-button-text: #27303F
    ),
    $dark: (
        $color-background: #1A202E,
        $color-text: #FFFFFF,
        $color-primary: #4285F4,
        $color-primary-dark: #3A76F8,
        $color-primary-deep-dark: #3367BD,
        $color-primary-text: #F0F5FF,
        $color-info: #0099CC,
        $color-warning: #FF8800,
        $color-error: 	#CC0000,
        $color-success: #007E33,
        $color-notification-text: #FFFFFF,
        $color-notification-text-dark: #EEEEEE,
        $color-input-background: rgba(0, 0, 0, .05),
        $color-input-border: #64748B,
        $color-login-switch-panel: #27303F,
        $color-login-switch-panel-text: #FFFFFF,
        $color-login-switch-panel-button: #4285F4,
        $color-login-switch-panel-button-text: #F0F5FF
    )
);

////////////
// Mixins //
////////////

// Set theme specific properties
@mixin color-it($property, $color) {
    $light-color: map-get(map-get($theme-colors, $light), $color);
    @if $light-color {
        #{$property}: $light-color;
    }

    $dark-color: map-get(map-get($theme-colors, $dark), $color);
    @if $dark-color {
        @media(prefers-color-scheme: dark) {
            #{$property}: $dark-color;
        }
    }
}