@use 'src/style/spacing' as spacing;
@use 'src/style/theme' as theme;

:export {
    iconSizeLarge: spacing.$icon-size-large;
}

.dashboardCard {
    display: block;
    width: 100%;
    position: relative;
    @include theme.color-it(theme.$prop-background-color, theme.$color-card);
    @include theme.color-it(theme.$prop-color, theme.$color-card-text);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .5); // TODO: export this
    border-radius: spacing.get-spacing-px(spacing.$size-extra-small);

    .dashboardCardIcon {
        position: absolute;
        margin-top: spacing.get-spacing-px(spacing.$size-large) * -1;
        @include theme.color-it(theme.$prop-background-color, theme.$color-primary-deep-dark);
        @include theme.color-it(theme.$prop-color, theme.$color-primary-text);
        border-radius: spacing.get-spacing-px(spacing.$size-small);
    }

    .dashboardCardTitle {
        display: flex;
        justify-content: flex-end;
        text-transform: uppercase;
        font-size: 12px; // TODO: spacing
    }

    .dashboardCardValue {
        display: flex;
        justify-content: flex-end;
        font-size: 32px; // TODO: spacing
    }

    .dashboardCardDivider {
        hr {
            height: 5px;
            @include theme.color-it(theme.$prop-background-color, theme.$color-primary-deep-dark);
            border: none;
            outline: none;
        }
    }

    .dashboardCardDescription {
        display: flex;
        justify-content: flex-start;
    }
}